body{
  background: url("../images/mapsample.png");
  background-size: cover;
  font-family: Poppins;
}

.sidebar{
  position: fixed;
  top: 0;
  left:-400px;
  background: rgb(2,0,36);
  background: linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(255,146,160,1) 0%, rgba(255,147,96,1) 100%);
  width: 400px;
  height: 100%;
  transition: .3s;
  padding-right: 10px;
}

.sidebarBtn{
  position: absolute;
  top: 0;
  right:-50px;
  width:50px;
  height:50px;
  box-sizing:border-box;
  cursor: pointer;
  background-color: #f5f5f5;
  border: none;
  outline: none;
}

.sidebarBtn span{
  display: block;
  width: 35px;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top:24px;
  transition: .3s;
}

.sidebarBtn span:before{
  content: '';
  width: 100%;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top: -10px;
  left: 0;
  transition: .3s;
}

.sidebarBtn span:after{
  content: '';
  width: 100%;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top: 10px;
  left: 0;
  transition: .3s;
}

.active{
  left: 0;
}

.sidebarBtn.toggle span{
  background-color: transparent;
}

.sidebarBtn.toggle span:before{
  top:0;
  transform: rotate(-45deg);
}

.sidebarBtn.toggle span:after{
  top:0;
  transform: rotate(45deg);
}

.form-control{
  height: 45px;
  width: 80%;
  margin: 20px auto 20px auto;
  border-radius: 10px;
}

