html,
body,
header,
#mainbanner{
	height: 100%;
}

#mainbanner{
	background: url("../images/stockimg.png")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.navbar{
	font-family: Poppins;
	font-size: 1.4em !important;
}


.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
  padding-top: 5px;
}


.navbar-brand{
	padding-left:40px;
	padding-right:40px;
  	padding-top: 5px;
}

.navbar-brand img{
  display: block;
  max-height:35px;
  width: auto;
}

.display-2{
	color: #FFFFFF;
	font-family: Poppins;
	font-size: 4rem;
	font-weight: bold;
}

.banner{
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
  padding-top: 250px;
}

.transparent-btn{
	margin-top: 55px;
	display: inline-block;
	font-size: 15px;
	font-family: Poppins;
	line-height: 120%;
	color:#FFF;
	background-color: transparent;
	border: 1px solid #FFF;
	padding: 10px 30px;
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color ease 400ms;

}
.transparent-btn:hover{
	text-decoration: none;
	color:#FFF;
	background-color: rgba(255,255,255,0.3);
}
