section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.navbar{
	font-family: Poppins;
	font-size: 1.4em !important;
	opacity: 0;
	animation: 1s fadein 0.5 forwards;
}

@keyframes fadein{
	100%{
		opacity: 1;
	}
}

.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
  padding-top: 5px;
}

.navbar-brand{
	padding-left:40px;
	padding-right:40px;
  	padding-top: 5px;
}

.navbar-brand img{
  display: block;
  max-height:35px;
  width: auto;
}

#navbarDropdown{
	background-image: url('../icons/user_white_32px.png');
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-left: 40px;
	display: block;
}

.mainbanner{
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
}

.mainbanner .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.mainbanner h1{
	font: bold 75px Poppins;
	color: white;
}

.main-content-area{
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade{
	100%{
		opacity: 1;
		margin: 0;
	}
}

.transparent-btn{
	margin-top: 55px;
	display: inline-block;
	font-size: 15px;
	font-family: Poppins;
	line-height: 120%;
	color:#FFF;
	background-color: transparent;
	border: 1px solid #FFF;
	padding: 10px 30px;
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color ease 400ms;

}
.transparent-btn:hover{
	text-decoration: none;
	color:#FFF;
	background-color: rgba(255,255,255,0.3);
}